.splash-content {
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  /* Height of header is 215px, height of footer is 611px for now */

  /* .splash-content {
    min-height: calc(100vh - 215px - 611px);
  } */

  .main-home .splash-content {
    padding-top: 215px;
    min-height: calc(100vh - 611px);
  }
}
