---
import DownloadButtonList from 'components:DownloadButtonList/index';
import TwitterIcon from 'components:SocialIcon/Twitter';
import TikTokIcon from 'components:SocialIcon/TikTok';
import InstagramIcon from 'components:SocialIcon/Instagram';
import './styles.css';
---

<footer class="footer">
  <div class="footer-detail">
    <div class="container">
      <div class="d-flex footer-detail-info">
        <div class="d-flex footer-social-icon">
          <TwitterIcon href="#" />
          <TikTokIcon href="#" />
          <InstagramIcon href="#" />
        </div>
      </div>
    </div>
  </div>
</footer>
