/* Styles for Community Introduction Section */
.community-introduction {
  text-align: center;
  min-height: 269px;
}

.community-content {
  margin-top: 40px;
  min-height: 110px;
}

.community-image > picture {
  min-height: 150px;
  min-width: 150px;
  display: inline-block;
}

.community-description {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .community-image > picture {
    max-width: 250px;
  }
}

@media (min-width: 1200px) {
  .community-introduction {
    min-height: 443px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: start;
  }

  .community-image > picture {
    max-width: 440px;
  }

  .community-content {
    min-height: 153px;
    width: 56%;
    flex-grow: 2;
    margin-top: unset;
  }

  .community-description {
    margin-top: 27px;
  }

  .community-image {
    flex-grow: 1;
    padding-inline: 60px;
  }
}
